data
gremlin/*
rexster/
neo4j-db/
jena-joseki/
graph-snac-example.xml
.gremlin_history
store
*.tdb
rexster-extension/target/
logs/
conf/server.xml
servers/*.pid
servers/*.log
servers/monitrc
rdf/*.rdf
snac-neo4j/*
snac-graph*
monitrc
*/work/*
